<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thyleaf</title>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        function fd() {
            $('#fruit-list').load("/fruit/detail?id=0");
        }
        function fd2() {
            $('#fruit-list').load("/fruit/detail?id=1");
        }
    </script>
</head>
<body>
<input type="button" id="btn" onclick="fd()" value="点击展示用户">
<input type="button" id="tt" onclick="fd2()" value="hah">

<div id="fruit-list" style="text-align: center;margin:0 auto;width: 900px" th:fragment="fruit-list">
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <thead>
        <th>ID</th>
        <th>水果名</th>
        </thead>
        <tbody>
        <tr th:each="fruit : ${fruits}">
            <td th:text="${fruit.id}"></td>
            <td th:text="${fruit.name}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>